<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="90">
    <title>DD EMOJI APP</title>
	<style>
    body {
      height: 100% !important;
		}

		thead {
      display: block;
    }

    thead tr td {
      line-height: 24px;
      font-family: NotoSans,Lucida Grande,Lucida Sans Unicode,sans-serif;
      font-weight: 400;
      font-size: 16px;
      padding: 0px 8px;
    }
		
    tbody {
      overflow-y: scroll;
      height: 500px;
      display: block;
      width: 100%;
    }
	</style>    
</head>
<body>
 
    {{{body}}}
 
</body>
</html>